body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 20px;  
    background-color: #F4F4F4; /* Light Gray */  
    color: #333333; /* Dark Gray */  
}  
  
header {  
    background: #4CAF50; /* Dark Green */  
    color: white;  
    padding: 10px 0;  
    text-align: center;  
}  
  
main {  
    margin-top: 20px;  
}  
  
section {  
    margin-bottom: 20px;  
    padding: 20px;  
    background: white;  
    border-radius: 5px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  
  
h2 {  
    margin-top: 0;  
    color: #4CAF50; /* Dark Green */  
}  
  
/* Responsive iframe */  
iframe {  
    width: 100%; /* Make iframe responsive */  
    height: 800px; /* Set a fixed height */  
    max-height: 800px; /* Set a max height */  
    border: none; /* Remove border */  
}  

  
/* Footer */  
footer {  
    text-align: center;  
    margin-top: 20px;  
    font-size: 0.9em;  
    color: #4CAF50; /* Dark Green */  
}  
  
/* Media Queries for Mobile Devices */  
@media (max-width: 768px) {  
    body {  
        padding: 10px; /* Reduce padding on smaller screens */  
    }  
  
    section {  
        padding: 15px; /* Reduce padding in sections */  
    }  
  
    h2 {  
        font-size: 1.5em; /* Adjust heading size */  
    }  
  
    footer {  
        font-size: 0.8em; /* Adjust footer size */  
    }  
}  
